<!--<p>accession-register works!</p>
<div *ngFor="let accessionRegisterDetail of accessionRegisterDetails">
    <div> {{ accessionRegisterDetail.archivalAgreement }}</div>
</div>-->

<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
   <!-- <app-external-param-profile-detail
      (externalParamProfileClose)="closePanel()"
      [externalParamProfile]="openedItem"
      [tenantIdentifier]="tenantIdentifier"
    >
    </app-external-param-profile-detail>-->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb> Registre des fonds </vitamui-common-title-breadcrumb>

      <vitamui-common-banner [searchbarPlaceholder]="'chercher une entrée'" (search)="onSearchSubmit($event)">
        <button class="btn primary ml-5" ><!--(click)="openExternalParamProfilCreateDialog()"-->
          <span>stats</span>
        </button>
      </vitamui-common-banner>
    </div>

        <div class="vitamui-content">
      <app-accession-register-list></app-accession-register-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>