<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav-content >
    <div>
      <!--<pastis-file-tree-metadata style="text-align: center;"></pastis-file-tree-metadata>-->
      <!--Top panels container-->
      <div class="pastis-metadata-option-container">
        <!-- Top left panel container -->
        <div class="pastis-metadata-option-entete-1">
          <!--Arrow button conainer-->
          <div class="pastis-position-btn-arrow-back">
            <button class="btn btn-circle primary small" tooltip="Retour vers la liste des profils" placement="bottom"
                    show-delay="0" tooltip-class="pastis-tooltip-class" (click)="goBack()">
                <i class="material-icons">arrow_back</i>
            </button>
          </div>
          <!--Panel content separator-->
          <div class="pastis-entete-1-separator"></div>
          <!--Text cotopntainer-->
          <div class="pastis-entete-1-text">
            <div class="pastis-entete-1-text-titre"><p class="text medium bold">{{keys[0]}}</p></div>
            <div class="pastis-entete-1-text-body-1">
              Créer et gérer un profil d'unité archivistique<mat-icon  style="color: #474D4A" class="pastis-ico-arrow-right">arrow_right_alt</mat-icon>
              <span class="pastis-entete-1-text-body-2" *ngIf="notice">{{notice.Name}}</span>
            </div>
          </div>
        </div>

        <!--Top right panel container-->
        <div class="pastis-metadata-option-entete-2">

          <!--Button save-->
          <div class="panel-buttons" tooltip="Enregistrer le profil" placement="top" show-delay="0"
               tooltip-class="pastis-tooltip-class">
            <pastis-user-action-save-profile></pastis-user-action-save-profile>
          </div>
          <!--Button setting-->
          <div class="panel-buttons" tooltip="Télécharger le manuel d'utilisation de PASTIS" placement="top" show-delay="0"
               tooltip-class="pastis-tooltip-class">
            <pastis-user-action-download-doc></pastis-user-action-download-doc>
          </div>
        </div>

      </div>
      <!--Check font.scss-->
    </div>
    <div class="pastis-notice-container">

      <div class="pastis-notice-container-title">
        Notice
      </div>
      <div>
        <div class="pastis-notice-container-id">
          <div class="pastis-notice-id-label"><p class="text caption bold" style="color:var(--vitamui-primary)">Type</p></div>
          <div class="pastis-notice-id-value"><p class="text normal">Profil d'unité archivistique</p></div>
        </div>
        <div class="pastis-notice-container-id">
          <div class="pastis-notice-id-label"><p class="text caption bold" style="color:var(--vitamui-primary)" style="color:var(--vitamui-primary)">Identifiant</p></div>
          <div class="pastis-notice-id-value"><p class="text normal bold">{{ notice ? notice.Identifier : '-- --'}}</p></div>
        </div>
      </div>
      <div class="pastis-notice-container-intitule">
        <!-- <label><p class="text caption bold" style="color:var(--vitamui-primary)">Intitulé</p> <span style="color:var(--vitamui-primary);font-weight:bold;margin-left: 5px;">*</span></label>
        <input type="text" style="border: none" *ngIf="notice" [(ngModel)]="notice.Name" (change)="changeNotice()"> -->
        <vitamui-common-input [(ngModel)]="notice.Name" placeholder="Intitulé"></vitamui-common-input>
      </div>
      <div class="pastis-notice-container-description">
          <vitamui-common-textarea *ngIf="notice" [(ngModel)]="notice.Description" placeholder="Description" (change)="changeNotice()">
          </vitamui-common-textarea>
      </div>
      <div class="pastis-notice-footer">
        <pastis-notice-toggle-button></pastis-notice-toggle-button>
        <div class="pastis-notice-container-chart">
          <div class="pastis-notice-chart">
            Autoriser dans le manifeste la présence de
          </div>
          <div class="pastis-notice-chart">
            métadonnées non déclarées dans le PUA ?
          </div>
        </div>
        <div class="pastis-notice-container-info">
          <mat-icon>info</mat-icon>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
