<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<Configuration status="info" monitorInterval="10">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %X{DepositIdentifier} - %X{TransferingAgencyIdentifier} - %msg%n" />
			<Filters>
				<ThresholdFilter level="WARN" onMatch="ACCEPT" />
				<ThresholdFilter level="ERROR" onMatch="ACCEPT" />
			</Filters>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="java" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="javax" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="net" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.irods.jargon.core" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="fr.cines" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>